<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Result</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="bg-img"></div>
    <div class="topic">
        <h1>Here are the found outs</h1><br><br>
    </div>
    <div class="grid-img modal-2">
    </div>
    <div class="sec-1">
        <label for="strings" style="color: #0cb8d6d8; font-size: 30px;">The resultant images are found by comparing the hash values of similar ones</label>
    </div>
</body>
</html>